*.[oa]
*~
bin/
/test/temptest.txt
/test/streamtest
/test/testfile.txt
/test/preproctest
/test/coderstest
/test/dcbwttest
/test/preprocalgotest
/testdata/a.out
/test/longsequencetest
/test/sa-is_test
/test/speedtest
/bwtc_docs/
/test/seqdettest
/test/mask_sequence_detector_test
/test/prime_sequence_detector_test
/test/long_sequencestest
CMakeCache.txt
CMakeFiles*
cmake_install.cmake
Makefile